.default {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
    background-color: rgba(209, 255, 103, 0.18);
    transition: ease-in-out 0.5s;
}

.openButton {
    display: none;
    width: 8vw;
    height: 8vw;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .default {
        position: fixed;
        left: -50vw;
        width: 50%;
        height: 100vh;
        transition: ease-in-out 0.5s;
    }

    .open {
        display: flex;
        flex-direction: column; 
        left: 0;
    }

    .openButton {
        display: block;
        position: fixed;
        bottom: 4vw;
        left: 4vw;
    }
}