.titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  gap: 10em;
  width: 100%;
  background-color: rgb(120, 163, 123);
  border: 0.1rem solid rgba(185, 185, 185, 0.661);
}

.title {
  font-size: 3rem;
  height: fit-content;
  width: fit-content;
  color: white;
  background: none;
  font-family: "Roboto Thin";
}
