html,
body {  
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

* {
  margin: 0;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b2227;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}