.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  min-height: 17%;
  z-index: 0;
}

.titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  gap: 10em;
  width: 100%;
  background-color: rgb(120, 163, 123);
  border: 0.1rem solid rgba(185, 185, 185, 0.661);
}

.title {
  font-size: 3rem;
  height: fit-content;
  width: fit-content;
  color: white;
  background: none;
  font-family: "Roboto Thin";
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0.4;
  font-size: 1.2em;
  gap: 2em;
  background-color: rgba(98, 203, 145, 0.277);
}

.navButton {
  text-decoration: none;
  color: black;
}

.navButton:hover {
  color: rgba(0, 0, 0, 0.629);
}

.navButton:active {
  color: black;
}
