.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 83%;
  width: 100%;
}

.indexRow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: whitesmoke;
}

.middleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  background-color: rgba(78, 178, 145, 0.075);
  border-right: 0.2rem dashed rgba(0, 0, 0, 0.4);
  border-left: 0.2rem dashed rgba(0, 0, 0, 0.4);
}

.rightRow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .indexRow {
    display: none;
    position: fixed;
    left: -50vw;
    width: 50vw;
  }

  .middleRow {
    border: none;
  }

  .rightRow {
    display: none;
  }
}